* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;

  --red: #ff5b50;
  --white: #ffffff;
  --title-font: "Montserrat", sans-serif;
}

body * {
  font-family: var(--title-font);
  color: var(--white);
}

body {
  background-image: url(../images/bg-img.png);
  background-position: top, center;
  background-size: auto;
  background-repeat: no-repeat;

  background-color: #050505;
  transition: 0.3s;
}

body.menu-open {
  background-image: none;
  transition: 0.3s;
}
